* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 90vw;
  padding: 25px;
}

.logo h1 {
  color: #666666;
  font-weight: 100;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu ul li a {
  color: #4c4c4c;
  font-size: 13px;
}

.header-main {
  display: flex;
  background: url("img/img1.jpg") center/cover fixed;
  height: 100vh;
  color: white;
}

.main-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin: auto;
  width: 90vw;
  padding-bottom: 25px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.text h1,
p {
  text-align: center;
  font-weight: 100;
}

.text h1 {
  font-size: 25px;
}

.btn {
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: 0.4s;
}

.btn button:hover {
  background-color: #47389b;
}

button,
.btn-sec {
  border: none;
  background-color: #745cf9;
  color: white;
  font-weight: 600;
  width: 200px;
  padding: 20px;
  cursor: pointer;

}

.btn-sec:hover {
  background-color: #47389b;
}

.btn-transparant {
  border: 2px solid white;
  background-color: transparent;
  transition: 0.4s;
}

.btn .btn-transparant:hover {
  border: 2px solid white;
  background-color: white;
  color: black;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  height: 95vh;
  width: 70%;
  margin: auto;
}

.section-img {
  width: 35vw;
}

.section-img img {
  width: 100%;
}

.sectionn {
  display: flex;
  flex-direction: column-reverse;
}

.imgg {
  order: 1;
}

.section-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 30vw;
}

.section-text h2 {
  font-weight: 100;
  color: #0e1015;
}

.section-text p {
  color: #8c979e;
  text-align: justify;
  line-height: 25px;
}

.computer2 {
  background-color: rgb(250, 240, 240);
}

.section3 {
  display: flex;
  align-items: center;
  background: url("img/wavebg.jpg") center/cover fixed;
  color: white;
  height: 60vh;
}

.section-center {
  display: flex;
  margin: auto;
  width: 90vw;
}

.center-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transition: 0.4s;
}

.center-text button:hover {
  background-color: #47389b;
}

.center-text h1 {
  font-size: 30px;
  font-weight: 100;
}

.section4-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  transition: 0.4s;
}

.section4-text button:hover {
  background-color: #47389b;
}

.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
}

.section4-text h1 {
  color: #0e1015;
  font-weight: 100;
}

.section4-text p {
  color: #8c979e;
}

.section5 {
  background: url("img/article-img3.jpg") center/cover;
  height: 35vh;
  width: 100%;
  margin: auto;
}

.section6-top {
  background-color: #0e1015;
}

.top-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 20vh;
  padding: 30px;
}

.section6-img {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(14, 16, 21);
  width: 100%;
}

.img {
  width: 100%;
  height: 35vh;
  color: white;
}

.h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.h5 h5 {
  font-weight: 100;
}

.img1 {
  background: linear-gradient(
      95deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.475) 13%,
      rgba(0, 0, 0, 0.247) 87%,
      rgb(0, 0, 0) 100%
    ),
    url("img/photo1.jpg") center center / cover;
}

.img2 {
  background: linear-gradient(
      95deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.475) 13%,
      rgba(0, 0, 0, 0.247) 87%,
      rgb(0, 0, 0) 100%
    ),
    url("img/photo2.jpg") center/cover;
}

.img3 {
  background: linear-gradient(
      95deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.475) 13%,
      rgba(0, 0, 0, 0.247) 87%,
      rgb(0, 0, 0) 100%
    ),
    url("img/photo3.jpg") center/cover;
}

.img4 {
  background: linear-gradient(
      95deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.475) 13%,
      rgba(0, 0, 0, 0.247) 87%,
      rgb(0, 0, 0) 100%
    ),
    url("img/photo4.jpg") center/cover;
}

.img5 {
  background: linear-gradient(
      95deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.475) 13%,
      rgba(0, 0, 0, 0.247) 87%,
      rgb(0, 0, 0) 100%
    ),
    url("img/photo5.jpg") center/cover;
}

.img6 {
  background: linear-gradient(
      95deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.475) 13%,
      rgba(0, 0, 0, 0.247) 87%,
      rgb(0, 0, 0) 100%
    ),
    url("img/photo6.jpg") center/cover;
}

.img7 {
  background: linear-gradient(
      95deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.475) 13%,
      rgba(0, 0, 0, 0.247) 87%,
      rgb(0, 0, 0) 100%
    ),
    url("img/photo7.jpg") center/cover;
}

.img8 {
  background: linear-gradient(
      95deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.475) 13%,
      rgba(0, 0, 0, 0.247) 87%,
      rgb(0, 0, 0) 100%
    ),
    url("img/photo8.jpg") center/cover;
}

.img9 {
  background: linear-gradient(
      95deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.475) 13%,
      rgba(0, 0, 0, 0.247) 87%,
      rgb(0, 0, 0) 100%
    ),
    url("img/photo9.jpg") center/cover;
}

.img10 {
  background: linear-gradient(
      95deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.475) 13%,
      rgba(0, 0, 0, 0.247) 87%,
      rgb(0, 0, 0) 100%
    ),
    url("img/photo10.jpg") center/cover;
}

.img11 {
  background: linear-gradient(
      95deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.475) 13%,
      rgba(0, 0, 0, 0.247) 87%,
      rgb(0, 0, 0) 100%
    ),
    url("img/article-img3.jpg") center/cover;
}

.img12 {
  background: linear-gradient(
      95deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.475) 13%,
      rgba(0, 0, 0, 0.247) 87%,
      rgb(0, 0, 0) 100%
    ),
    url("img/img1.jpg") center/cover;
}

.section7 {
  background: url("img/slider.jpg") center/cover fixed;
  height: 80vh;
}

.section7-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: white;
  height: 100%;
  padding: 0 20px;
}

.section7-center img {
  width: 100px;
  border-radius: 50%;
}

.section7-center h3 {
  font-size: 25px;
  font-weight: 100;
}

.section7-center p {
  line-height: 27px;
}

.section8 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

.h1 h1 {
  font-weight: 100;
}

.icons {
  display: flex;
  gap: 25px;
  font-size: 50px;
  cursor: pointer;

}

.fa-html5 {
  color: #d84924;
  transition: 0.4s;
}

.fa-html5:hover {
  scale: 1.1;
}

.fa-css3-alt {
  color: #2449d8;
  transition: 0.4s;
}

.fa-css3-alt:hover {
  scale: 1.1;
}

.fa-js {
  color: #ead41c;
  transition: 0.4s;
}

.fa-js:hover {
  scale: 1.1;
}

.fa-bootstrap {
  color: #7311ec;
  transition: 0.4s;
}

.fa-bootstrap:hover {
  scale: 1.1;
}

.section9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  background-color: #f5f5f5;
  height: 35vh;
  transition: 0.4s;
}

.section9 button:hover {
  background-color: #47389b;
}

.section9 h1 {
  font-weight: 100;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: black;
  color: white;
  height: 18vh;
}

.footer-icons {
  display: flex;
  gap: 20px;

}
.footer-icons a {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-around;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .menu ul {
    flex-direction: row;
    gap: 30px;
  }
  .search {
    text-align: center;
  }
  .search input {
    display: none;
  }
  .text h1 {
    font-size: 55px;
  }
  .btn {
    flex-direction: row;
  }
  .section {
    flex-direction: row;
  }
  .center-text h1 {
    font-size: 45px;
  }
  .section5 {
    width: 80vw;
    height: 80vh;
  }
  .section6-img {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
  }
  .img {
    width: 25%;
    height: 33.33vh;
    margin-bottom: 30px;
    position: relative;
  }
  .img1 {
    background: url("img/photo1.jpg") center/cover;
  }
  .img2 {
    background: url("img/photo2.jpg") center/cover;
  }
  .img3 {
    background: url("img/photo3.jpg") center/cover;
  }
  .img4 {
    background: url("img/photo4.jpg") center/cover;
  }
  .img5 {
    background: url("img/photo5.jpg") center/cover;
  }
  .img6 {
    background: url("img/photo6.jpg") center/cover;
  }
  .img7 {
    background: url("img/photo7.jpg") center/cover;
  }
  .img8 {
    background: url("img/photo8.jpg") center/cover;
  }
  .img9 {
    background: url("img/photo9.jpg") center/cover;
  }
  .img10 {
    background: url("img/photo10.jpg") center/cover;
  }
  .img11 {
    background: url("img/article-img3.jpg") center/cover;
  }
  .img12 {
    background: url("img/img1.jpg") center/cover;
  }
  .h5:hover {
    position: relative;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.096) 10%,
      rgba(0, 0, 0, 0.781) 100%
    );
    animation: animasiya 0.4s ease-in-out forwards;
  }
  @keyframes animasiya {
    from {
      bottom: -30%;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }
  .section7-center {
    width: 80vw;
    margin: auto;
  }
  .section7-center p {
    font-size: 12px;
  }
  .icons i {
    color: #0000009a;
    font-size: 65px;
  }
  .fa-html5:hover {
    color: #d84924;
  }
  .fa-css3-alt:hover {
    color: #2449d8;
  }
  .fa-js:hover {
    color: #ead41c;
  }
  .fa-bootstrap:hover {
    color: #7311ec;
  }
  .section8 {
    height: 35vh;
  }
  .icons {
    width: 90vw;
    justify-content: space-around;
  }
  footer {
    flex-direction: row;
    justify-content: space-around;
  }
}
